.menuCSS3 ul {
		display: flex;
		padding: 0;
		margin: 0em 30% 0em ;
		list-style: none;
	}


	.menuCSS3 a {
		display: block;
		padding: 25px;
		background-color: 	#00101E ;
        background: linear-gradient(to bottom, Goldenrod, DarkRed);
        text-decoration: none;
		color: #ffffff ;
	}
	.menuCSS3 a:hover {
		background-color: #001D38;
	}
	.menuCSS3 ul li ul {
		display: none;
	}
	.menuCSS3 ul li a:hover + ul, .menuCSS3 ul li ul:hover {
		display: block;
	}


.nav{
  width: 960px;
  
  text-align:center;
  margin: 0 auto;
}




